:root {
  /* Define your numerical values here */
  --ep-width: 3%;
  --title-width: 23%;
  --date-width: 8%;
  --youtube-width: 8%;
  --frames-width: 8%;
  --internetArchive-width: 8%;
  --streamDate-width: 8%;
  --streamTitle-width: 34%;
}

/* Reset margin and padding on html and body */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body takes up the full height */
  background-color: #007c7c;
  color: rgb(244, 244, 244);
}

.App {
  text-align: center;
  /* border: 8px dotted red; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  background-color: #007c7c;
}

.windowPicContainer {
  position: relative;
}

.bannerGif {
  /* border: 2px solid red; */
  height: 250px;
  width: auto;
  margin-bottom: 20px;
}

.windowButtons {
  position: absolute;
  left: 243px;
  top: 154px;
  width: 100px;
  color: rgb(68, 68, 68);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  /* border: 3px solid red; */
}

.pageHeader {
  /* border: 8px solid purple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 75%;
  height: 380px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'MS Sans Serif', 'Segoe UI', Tahoma, Geneva, sans-serif;
}

.pageHeader h1 {
  font-weight: 400;
}

.pageHeaderTitle {
  margin: 0;
  position: absolute;
  top: 50px;
  left: 85px;
}

.pageHeaderDescription {
  margin: 0;
  font-size: 24px;
}
.followContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid white; */
  width: 420px;
}
.followText {
  margin: 0;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid blue; */
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.followText p {
  margin: 0;
  padding: 0;
  height: 10px;
}

.youtubeImg {
  height: 30px;
  width: auto;
}

.soundcloudImg {
  height: 35px;
  width: auto;
}

.seasonsProgress {
  /* border: 4px dashed pink; */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.pretableHeader {
  /* border: 8px solid purple; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.gradientSash {
  position: absolute;
  right: 355px;
  background: linear-gradient(to right, transparent, white);
  height: calc(100% - 50px);
  width: 200px;
  z-index: 2000;
  bottom: 0px;
}

.progressHeader {
  width: 30px;
  flex-grow: 1; /* Allows it to grow and take up available width */
  display: flex;
  flex-direction: column; /* Allows it to stretch vertically */
  transform: rotate(270deg);
  color: rgb(204, 204, 204);
  font-weight: 900;
  font-style: italic;
  font-size: 42px;
  margin-bottom: -10px;
  margin-right: 18px;
  box-sizing: border-box;
  z-index: 3000;
  position: relative;
  bottom: 0px;
}

.progressHeader {
  opacity: 0;
  transition: opacity 0.5s ease-in, visibility 0s linear 0.5s; /* Instant hide */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.progressGraph {
  /* border: 3px solid green; */
  width: 350px;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Ensures it expands to take up available vertical space */
  box-sizing: border-box;
  color: black;
  position: relative;
  bottom: 0px;
  z-index: 3000;
  /* border: 1px solid red; */
}

.janeImg {
  /* border: 2px solid red; */
  height: 100%;
}

.seasonContainer {
  height: 20px;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.seasonName {
  width: 10%;
  font-weight: 900;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 1px solid white; */
}

.seasonName p {
  margin: 0;
  padding: 0;
}

.seasonCount {
  width: 10%;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 2px; */
  font-style: italic;
  margin-right: 6px;
}

.seasonBar {
  width: 80%;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
}

.table {
  background-color: white;

  border-top: 5px solid #f2f2f2;
  border-left: 5px solid #f2f2f2;
  border-right: 5px solid #000000;
  border-bottom: 5px solid #000000;

  width: 80%;
  /* max-width: 80%; */
  /* min-width: 850px; */
}

@media (max-width: 1200px) {
  .table {
    width: 100%;
  }
}

.categoryInfo {
  /* border: 2px dashed red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch; /* Ensures all children take full height */
  background-color: #c0c0c0;
  /* border-left: 2px solid white; */
  box-sizing: border-box;
  height: 390px;
  padding-left: 14px;
}

.picAndTitle {
  display: flex;
  flex-direction: column;
  /* border: 3px dashed blue; */
  flex-grow: 1; /* Allows it to take the full height */
  justify-content: space-between;
  align-items: flex-start;
}

.StuPicContainer {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  overflow: hidden; /* Prevents any layout shifts */
}

.stuImg {
  height: 300px; /* Set a fixed height */
  width: auto; /* Set a fixed width */
  object-fit: cover; /* Ensures the image fills the box properly */
}

.wave span {
  display: inline-block;
  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Add delay to each letter to create the wave effect */
.wave span:nth-child(1) {
  animation-delay: 0s;
}
.wave span:nth-child(2) {
  animation-delay: 0.1s;
}
.wave span:nth-child(3) {
  animation-delay: 0.2s;
}
.wave span:nth-child(4) {
  animation-delay: 0.3s;
}
.wave span:nth-child(5) {
  animation-delay: 0.4s;
}
.wave span:nth-child(6) {
  animation-delay: 0.5s;
}
.wave span:nth-child(7) {
  animation-delay: 0.6s;
}
.wave span:nth-child(8) {
  animation-delay: 0.7s;
}
.wave span:nth-child(9) {
  animation-delay: 0.8s;
}
.wave span:nth-child(10) {
  animation-delay: 0.9s;
}
.wave span:nth-child(11) {
  animation-delay: 1s;
}
.wave span:nth-child(12) {
  animation-delay: 1.1s;
}
.wave span:nth-child(13) {
  animation-delay: 1.2s;
}
.wave span:nth-child(14) {
  animation-delay: 1.3s;
}
.wave span:nth-child(15) {
  animation-delay: 1.4s;
}
.wave span:nth-child(16) {
  animation-delay: 1.5s;
}
.wave span:nth-child(17) {
  animation-delay: 1.6s;
}
.wave span:nth-child(18) {
  animation-delay: 1.7s;
}
.wave span:nth-child(19) {
  animation-delay: 1.8s;
}
.wave span:nth-child(20) {
  animation-delay: 1.9s;
}
.wave span:nth-child(21) {
  animation-delay: 2s;
}

.wave {
  animation: pause 6.2s forwards;
}

@keyframes pause {
  0%,
  100% {
    animation-play-state: running;
  }
  99% {
    animation-play-state: paused;
  }
}
.ph1 {
  font-size: 64px;
  color: blue;
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
  position: relative;
  z-index: 2;
  margin-bottom: 4px;
  text-shadow: 6px 4px 0 rgb(134, 134, 134),
    /* Moves the entire shadow down-right */ 3px 3px 0 rgb(134, 134, 134);
}

.ph1Container {
  /* border: 1px solid red; */
  height: 90px;
  max-height: 90px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  padding-top: 10px;
  box-sizing: border-box;
}

.netcafeTitle {
  /* color: rgb(195, 55, 55); */
}

.columnHeaders {
  background-color: #001082;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 30px;
  position: sticky;
  top: 50px;
  z-index: 1000;
  /* border-top: 5px solid #f2f2f2; */
}

.epColumn {
  width: var(--ep-width);
  max-width: var(--ep-width);
}

.titleColumn {
  width: var(--title-width);
  max-width: var(--title-width);
}
.dateColumn {
  width: var(--date-width);
  max-width: var(--date-width);
}
.youtubeColumn {
  width: var(--youtube-width);
  max-width: var(--youtube-width);
}
.framesColumn {
  width: var(--frames-width);
  max-width: var(--frames-width);
}
.internetArchiveColumn {
  width: var(--internetArchive-width);
  max-width: var(--internetArchive-width);
}
.streamDateColumn {
  width: var(--streamDate-width);
  max-width: var(--streamDate-width);
}
.streamTitleColumn {
  width: var(--streamTitle-width);
  max-width: var(--streamTitle-width);
}

.row {
  /* border: 5px solid black; */
  color: black;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  font-family: 'MS Sans Serif', 'Segoe UI', Tahoma, Geneva, sans-serif;
}

.rowInfo {
  /* border: 2px solid red; */
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.rowFrames img {
  width: 100%; /* Make the image fill the container's width */
  height: auto; /* Maintain aspect ratio */
  opacity: 0; /* Hide the image initially */
  transition: opacity 1s ease-out;
}

.rowFrames {
  /* border: 6px solid lime; */
  height: auto;
  display: flex;
  flex-direction: row;
}

.left {
  width: 10%;
  /* border: 6px solid blue; */
  position: relative;
  padding: 5px;
  box-sizing: border-box;
}

.leftSticky {
  /* border: 6px solid yellow; */
  position: sticky;
  top: 30%;
}

.right {
  width: 90%;
  /* border: 6px solid red; */
  height: auto;
}

.buttonContainer {
  /* border: 5px solid blue; */
}

.closeFramesButton {
  width: 100%;
  height: 40px;
  border: 2px solid black;
  border-radius: 0px;
  background-color: #bfb8bf;
  padding: 0;
  box-sizing: border-box;
}

.closeFramesButtonInside {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  box-sizing: border-box;
}

.showWatchedAllButton {
  width: 290px;
  height: 40px;
  border: 2px solid black;
  border-radius: 0px;
  background-color: #bfb8bf;
  padding: 0;
  box-sizing: border-box;
}

.showWatchedAllButtonInside {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  box-sizing: border-box;
}
@media (max-width: 830px) {
  .showWatchedAllButtonInside {
    font-size: calc(1vw + 10px); /* Font size scales with the viewport */
  }
}

.magnifContainer {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  margin-right: 8px;
  display: flex; /* Optional, to center image */
  justify-content: center; /* Optional, to center image horizontally */
  align-items: center; /* Optional, to center image vertically */
}

.magnif {
  width: 100%; /* Make the image fill the container width */
  height: 100%; /* Make the image fill the container height */
  object-fit: cover; /* Ensure the image covers the entire container without distorting */
  margin-top: 2px;
}

.searchAndClear {
  display: flex;
  flex-direction: row;
  width: 500px;
}

.clearButton {
  width: 100px;
  height: 40px;
  border: 2px solid black;
  border-radius: 0px;
  background-color: #bfb8bf;
  padding: 0;
  box-sizing: border-box;
  margin-left: 5px;
}

.clearButtonInside {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  box-sizing: border-box;
}

.imageContainer {
  width: 90%;
  border: 5px solid red;
  box-sizing: border-box;
  flex-grow: 1; /* Let it take available space */
}

.showFrames-true img {
  opacity: 1; /* Image becomes visible when showFrames-true */
}

.showFrames-true {
  visibility: visible; /* Make the rowFrames div visible when expanded */
}

.showFrames-false {
  visibility: hidden; /* Hide the div when collapsed */
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 0;
}

.cell {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgb(234, 234, 234);
  border-top: 1px solid rgb(234, 234, 234);
  /* padding: 0px 8px; */
}

.progress {
  height: 100%;
  /* border: 4px solid lime; */
  position: absolute;
  box-sizing: border-box;
  left: -66px;
  width: 66px;
  display: flex;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
}

.dot {
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob {
  width: 8px;
  height: 8px;
  background-color: blue; /* Or any color you'd like for the blob */
  border-radius: 0px; /* Makes the div round */
}

.endBlob {
  border-radius: 0px 50px 50px 0px;
}

.unwatched {
  background-color: white;
}

.ep {
  width: var(--ep-width);
  max-width: var(--ep-width);
  font-weight: 700;
}

.title {
  width: var(--title-width);
  max-width: var(--title-width);
  justify-content: flex-start; /* Align content to the start (left) */
  text-align: left; /* Align text inside the div to the left */
  word-wrap: break-word; /* Allow long words to break and wrap */
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

.title p {
  width: 100%; /* Ensure the paragraph takes up the full width */
  margin: 0; /* Remove default margin */
  /* border: 1px solid red; */
  white-space: normal; /* Allow wrapping of text */
}

.date {
  width: var(--date-width);
  max-width: var(--date-width);
  font-size: 14px;
}

a {
  cursor: pointer;
  color: blue;
}

a:link {
  color: blue !important;
  text-decoration: none; /* Optional, to remove underline */
}

/* Visited state - when the link has been clicked */
a:visited {
  color: purple !important;
}

/* Active state - when the link is being clicked */
a:active {
  color: red !important; /* Optional, you can add a color for when the link is being actively clicked */
}

.youtube {
  width: var(--youtube-width);
  max-width: var(--youtube-width);
  /* text-decoration: underline;
  text-underline-offset: 8px; */
  font-size: 14px;
}

.frames {
  width: var(--frames-width);
  max-width: var(--frames-width);
  /* text-decoration: underline;
  text-underline-offset: 8px; */
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  text-align: left;
}

.internetArchive {
  width: var(--internetArchive-width);
  max-width: var(--internetArchive-width);
  /* text-decoration: underline;
  text-underline-offset: 8px; */
  font-size: 14px;
}

.streamDate {
  width: var(--streamDate-width);
  max-width: var(--streamDate-width);
  font-size: 14px;
}

.SeasonDivider {
  font-size: 42px;
  font-weight: 900;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.SeasonDivider p {
  margin-top: 2px;
  margin-bottom: 2px;
  font-style: italic;
}

.watched-true {
  background: rgb(205, 250, 215);
}

.watched-partial {
  background: rgb(255, 243, 184);
}

.watched-true .title {
  font-weight: 700;
}

.watched-partial .title {
  font-weight: 700;
}

.streamTitle {
  width: 34%; /* Set a fixed width */
  display: flex; /* Ensures content respects this width */
  align-items: center; /* Align text vertically */
  justify-content: flex-start; /* Keep text aligned left */
  overflow: hidden; /* Prevent overflow */
  padding: 8px;
  box-sizing: border-box;
}

.streamTitle p {
  /* border: 1px dashed red; */
  width: 85%; /* Take up 75% of the .streamTitle div's width */
  overflow: hidden;
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Truncate text with ellipsis */
  text-align: left;
  margin-left: 5px;
  font-size: 14px;
}

.streamTitle img {
  width: 60px;
  border-radius: 10px;
}

.season1 {
  background-color: #ff5f5f;
}
.season2 {
  background-color: #01fbff;
}
.season3 {
  background-color: #ff44fe;
}
.season4 {
  background-color: #01f90e;
}
.season5 {
  background-color: #002aff;
  color: white;
}
.season6 {
  background-color: #fffc04;
}
.season7 {
  background-color: #ff6315;
}
.season8 {
  background-color: #00aaff;
}
.season9 {
  background-color: #ff4ac3;
}
.season10 {
  background-color: #01f957;
}
.season11 {
  background-color: #552dff;
  color: white;
}
.season12 {
  background-color: #aafa08;
}
.season13 {
  background-color: #ffaa00;
}
.season14 {
  background-color: #0055ff;
  color: white;
}
.season15 {
  background-color: #ff578f;
}
.season16 {
  background-color: #03faab;
}
.season17 {
  background-color: #762dec;
  color: white;
}
.season18 {
  background-color: #56f908;
}
.season19 {
  background-color: #000000;
  color: white;
}

#unclickable {
  pointer-events: none;
}

.color-season1 {
  color: #ff5f5f;
}
.color-season2 {
  color: #01fbff;
}
.color-season3 {
  color: #ff44fe;
}
.color-season4 {
  color: #01f90e;
}
.color-season5 {
  color: #002aff;
}
.color-season6 {
  color: #ebe700;
}
.color-season7 {
  color: #ff6315;
}
.color-season8 {
  color: #00aaff;
}
.color-season9 {
  color: #ff4ac3;
}
.color-season10 {
  color: #01f957;
}
.color-season11 {
  color: #552dff;
}
.color-season12 {
  color: #aafa08;
}
.color-season13 {
  color: #ffaa00;
}
.color-season14 {
  color: #0055ff;
}
.color-season15 {
  color: #ff578f;
}
.color-season16 {
  color: #03faab;
}
.color-season17 {
  color: #762dec;
}
.color-season18 {
  color: #56f908;
}
.color-season19 {
  color: #000000;
}

.color-season1996 {
  color: #ebe700;
}

.color-season1997 {
  color: #d2691e;
}

.color-season1998 {
  color: #7fffd4;
}

.color-season1999 {
  color: #762dec;
}

.color-season2000 {
  color: black;
}

.color-season2001 {
  color: #01fbff;
}

.color-season2002 {
  color: #0055ff;
}

.season1996 {
  background-color: #ebe700;
}

.season1997 {
  background-color: #d2691e;
}

.season1998 {
  background-color: #7fffd4;
}

.season1999 {
  background-color: #762dec;
}

.season2000 {
  background-color: black;
}

.season2001 {
  background-color: #01fbff;
}

.season2002 {
  background-color: #0055ff;
}

.tabs {
  /* border: 2px dashed blue; */
  display: flex;
  flex-direction: row;
  color: black;
  height: 50px;
  box-sizing: border-box;
  background-color: #c0c0c0;
  user-select: none;
  font-weight: 600;
}

.tab {
  width: 25%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #9d9d9d;
  border-radius: 10px 10px 0px 00px;
  margin-top: 8px;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 1px solid white;
  cursor: pointer;
  user-select: none;
}

.activeTab {
  background-color: #c0c0c0;

  margin-top: 0px;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-right: 4px solid black;
  border-bottom: none;
}

.toolbar {
  border: 5px solid red;
  border-top: 5px solid #f2f2f2;

  width: 100%;
  background-color: #c0c0c0;
  position: sticky;
  top: 0px;
  min-height: 50px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px;

  box-sizing: border-box;
}

.searchBarOuter {
  height: 40px;
  background-color: white;
  border-top: 2px solid #706971;
  border-left: 2px solid #706971;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  box-sizing: border-box;
  flex-grow: 1;
}

.searchBarInner {
  height: 100%;
  width: 100%;
  background-color: white;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid #c0c0c0;
  border-right: 2px solid #c0c0c0;
  box-sizing: border-box;
}

.searchBarInner input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  box-sizing: border-box;
  padding: 5px;
}

.buttonAndSearchHalf {
  border: 5px solid purple;
  box-sizing: border-box;

  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.greyDivider {
  width: 100%;
  background-color: #c0c0c0;
  /* border-left: 2px solid white; */
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-sizing: border-box;
  position: relative;
  overflow: visible;
}

.whiteLineHalf {
  border-top: 1px solid white;
  height: 31px; /* 30px + 1px to exceed parent */
  width: 50%;
  position: absolute; /* Allows it to exceed parent */
  bottom: -1px; /* Moves it 1px outside */
}

.isTabbed {
  border: 2px dotted black;
  padding: 8px;
}

a.header-link {
  color: blue !important; /* Ensure visited links stay blue */
}

a.header-link:visited {
  color: blue; /* Ensure visited links stay blue */
}

a.header-link:active {
  color: blue; /* Ensure active link stays blue when clicked */
}

a.header-link:hover {
  color: blue; /* Ensure link stays blue on hover */
}
